.div1 {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: red;
    border: 1px solid black;
}

.div2 {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: red;
}

.div3 {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: red;
}

.div4 {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: red;
}

.div5 {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: red;
    border: 1px solid black;
}

.lateral1 {
    display: block;
    height: 150px;
    width: 150px;
    background-color: red;


}



.lateral2 {
    display: block;
    height: 150px;
    width: 150px;
    background-color: red;

}

.lateral3 {
    display: block;
    height: 150px;
    width: 150px;
    background-color: red;

}

.lateral4 {
    display: block;
    height: 150px;
    width: 150px;
    background-color: red;

}



.div2 {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: red;
}
.